/* Big tablet to 1200px (width smaller that 1140px */
@media only screen and (max-width:1200px) {
    /* 
    ////////////////////////////////////// Header
    */

    .container-center { padding: 2% 8%; }
    
    .heading__primary{
        margin-bottom: 2rem;
    }

    .header__text-box {
        margin-top: 17%;
      }

    .heading__primary-main {
        font-size: 4.5rem;
        line-height: 1.1;
        letter-spacing: .2rem;
    }

    .paragraph-year {
        font-size: 1.1rem;
        margin: 1rem 0 8rem;
        padding: 0 5rem;
    }

    .navigation {
        font-size: 1.2rem;
      }

      /* 
    ////////////////////////////////////// Section System
    */

    .system {
        padding-top: 15%;
        
    }

    .system-icon {
        padding: 2rem;
    }

    .system-box {
        max-width: 30rem;
        max-height: 25rem;
    }

     /* 
    ////////////////////////////////////// Section Estructura
    */

    .estructura {
        padding-top: 15%;
    }

    .perfil-cargo {
        font-size: 1.4rem;
    }
}

/*
.......................................... Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width:1023px) {
     /* 
    ////////////////////////////////////// Header
    */
    .heading__primary{
        margin-bottom: 2rem;
    }

    .heading__primary-main {
        font-size: 5.2rem;
        line-height: 1.1;
        letter-spacing: .5rem;
    }

    .paragraph-year {
        font-size: 1.1rem;
        margin: 1rem 0 5rem;
        padding: 0 10rem;
    }

    .antecedente {
        margin: 0 2rem 1rem;
        font-size: 1.4rem;
        padding: 0;
    }
    /* 
    ////////////////////////////////////// Form
    */

    .system-form {
        margin: 0;
    }

    fieldset {
        margin: 0;
    }

    label {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        font-size: 1.5rem;
    }

    hr {
        margin-bottom: 2.5rem;
        width: 100%;
    }
      
    .btn-submit {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .2rem;
        padding: 1.2rem 0;
        width: 60%;
    }

     /* 
    ////////////////////////////////////// Section System
    */

    .system {
        height: 180vh;
        margin-top: -5vh;
        padding-top: 12%;
        clip-path: polygon(0 0, 100% 0, 100% 170vh, 0 100%);
        
    }

    .system-icon {
        padding: 2rem;
    }

    .system-box {
        max-width: 30rem;
        max-height: 25rem;
    }

     /* 
    ////////////////////////////////////// Section Estructura
    */

    .estructura {
        margin-top: -5vh;
        padding-top: 10%;
    }

    /* 
    ////////////////////////////////////// Section Activities
    */

    .activities { margin-top: 10%; }

     /* 
    ////////////////////////////////////// Section External Sites
    */
    .external_sites { 
        padding-top: 10%;
     }

    .external-link { font-size: 1.5rem; }

    .img-5 { height: 6rem;}

    /* 
    ////////////////////////////////////// Section Sistema Interno
    */

    .sites {
        height: 130vh;
        padding-top: 10%;
        clip-path: polygon(0 0, 100% 0, 100% 120vh, 0 100%);
    }

    .sites-icon {
        font-size: 7rem;
        margin: 2rem 0 2rem;
    }

    .sites-heading {
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }

    .btn-sites:link,
    .btn-sites:visited { margin-bottom: 1.5rem;}

    /* 
    ////////////////////////////////////// Section Preventiva
    */

    .preventiva {
        margin-top: -20vh;
        padding-top: 10%;
    }

    .carousel-inner { margin-top: 5%; }

    .carousel-content { width: 50rem; }

       /* 
    ////////////////////////////////////// Section Footer
    */

    .footer {
        padding: 4rem 0;
      }

    .footer-heading {
        text-align: center;
    }

    .footer-box {
        text-align: center;
    }

    .footer-text {
        font-size: 1.4rem;
        max-width: 60rem;
        margin: 0 auto;
        padding-bottom: 1rem; 
    }

    .social-icon {
        font-size: 3rem;
    }

    .copy {
        text-align: center;
        font-size: 1.2rem;
        padding: 0;
        max-width: 40rem;
    }

}

/* 
.......................................... Small phones to small tablets: from 481 to 767px  */
@media only screen and (max-width:767px) {
    /* 
    ////////////////////////////////////// Header
    */

    .heading__primary{
        margin-bottom: 2rem;
    }

    .heading__primary-main { 
        font-size: 5rem;
        line-height: 1;
    }

    .paragraph-year {
        font-size: 1.2rem;
        padding: 0 3rem;
        margin: 1rem 0 5rem;
    }

    .header__text-box { margin-top: 15%;}


    .btn-system,
    .btn-about {
        display: block;
        width: 30rem;
        margin: 1rem auto;
    }
    

    .antecedente {
        margin: 0 2rem 2rem;
        font-size: 1.4rem;
    }

     /* 
    ////////////////////////////////////// Form
    */

    .system-form {
        margin: 0;
    }

    fieldset {
        margin: 0;
    }

    label {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        font-size: 1.5rem;
    }

    hr {
        margin-bottom: 2.5rem;
        width: 100%;
    }
      
    .btn-submit {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .2rem;
        padding: 1.2rem 0;
        width: 60%;
    }


     /* 
    ////////////////////////////////////// Section System
    */

    .system {
        height: 200vh;
        margin-top: -5vh;
        padding-top: 15%;
        clip-path: polygon(0 0, 100% 0, 100% 180vh, 0 100%);
        background-image: linear-gradient(to right, rgba(74, 204, 54, 0.8), rgba(0, 169, 151, 0.8));
    }

    .system-icon {
        padding: 2rem;
    }

    .system-box {
        max-width: 30rem;
        max-height: 25rem;
    }

     /* 
    ////////////////////////////////////// Section Estructura
    */

    .estructura {
        margin-top: -5vh;
        padding-top: 10%;
    }

    /* 
    ////////////////////////////////////// Section Activities
    */

    .activities { padding-top: 10%; }

    /* 
    ////////////////////////////////////// Section External Sites
    */
    .external_sites { 
        padding-top: 10%;
     }

    .external-link { font-size: 1.5rem; }

    .img-5 { height: 6rem;}

    /* 
    ////////////////////////////////////// Section Sistema Interno
    */

    .sites {
        height: 215vh;
        padding-top: 10%;
        clip-path: polygon(0 0, 100% 0, 100% 200vh, 0 100%);
    }

    .sites-icon {
        font-size: 7rem;
        margin: 2rem 0 2rem;
    }

    .sites-heading {
        font-size: 1.6rem;
        padding-bottom: 0rem;
    }

    .btn-sites:link,
    .btn-sites:visited { margin-bottom: 1.5rem;}

    /* 
    ////////////////////////////////////// Section Preventiva
    */

    .preventiva {
        margin-top: -20vh;
        padding-top: 10%;
    }

    .carousel-inner { margin-top: 5%; }

    .carousel-content { width: 50rem; }

      /* 
    ////////////////////////////////////// Section Footer
    */

    .footer {
        padding: 4rem 0;
      }

    .footer-heading {
        text-align: center;
    }

    .footer-box {
        text-align: center;
    }

    .footer-text {
        font-size: 1.4rem;
    }

    .social-icon {
        font-size: 3rem;
    }

    .copy {
        text-align: center;
        font-size: 1.2rem;
        padding: 0;
        max-width: 40rem;
    }
}

/* 
.......................................... Small phones: from 0 to 480px */
@media only screen and (max-width:480px) {
    /* 
    ////////////////////////////////////// Header
    */
    .heading__primary-main { font-size: 3rem; }

    .heading-secondary { margin-bottom: 20%; }

    .paragraph-year {
        font-size: 1rem;
        letter-spacing: .2rem;
    }

    .header__text-box { margin-top: 20%;}

    .btn-diy:link,
    .btn-diy:visited {
        font-size: 1.2rem;
        font-weight: 400;
        width: 25rem;
    }

    .btn-system:link,
    .btn-system:visited { margin-right: 0rem; }

    .scroll_down {
        font-size: 1.3rem;
        bottom: 1.3rem;
    }
    
    .antecedente {
        margin: 0;
    }

    /* 
    ////////////////////////////////////// Form
    */

    label {
        font-size: 1.6rem;
    }

    input {
        width: 100%;
        padding: 2rem;
        height: 3rem;
        font-size: 1.6rem;
    }

    hr {
        margin-bottom: 2.5rem;
        width: 100%;
    }
      
    .btn-submit {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .2rem;
        padding: 1rem 0;
        width: 100%;
    }

    .antecedente {
        font-size: 1.4rem;
        margin:1rem;
    }

    /* 
    ////////////////////////////////////// Section System
    */

    .system {
        height: 215vh;
        margin-top: -5vh;
        padding-top: 20%;
        clip-path: polygon(0 0, 100% 0, 100% 200vh, 0 100%);
        background-image: linear-gradient(to right, rgba(74, 204, 54, 0.8), rgba(0, 169, 151, 0.8));
    }

    .system-box {
        max-width: 30rem;
    }

    /* 
    ////////////////////////////////////// Section Estructura
    */

    .estructura {
        margin-top: -5vh;
        padding-top: 20%;
    }

    /* 
    ////////////////////////////////////// Section Activities
    */

    .activities { padding-top: 20%; }

    /* 
    ////////////////////////////////////// Section External Sites
    */
    .external_sites { 
        padding-top: 20%;
     }

    .external-link { font-size: 1.4rem; }

    .img-5 { height: 7rem;}

    /* 
    ////////////////////////////////////// Section Sistema Interno
    */

    .sites {
        height: 215vh;
        padding-top: 10%;
        clip-path: polygon(0 0, 100% 0, 100% 200vh, 0 100%);
    }

    .sites-icon {
        font-size: 8rem;
        margin: 2rem 0 2rem;
    }

    .sites-heading {
        font-size: 1.6rem;
        padding-bottom: 0rem;
    }

    .btn-sites:link,
    .btn-sites:visited { margin-bottom: 1.5rem;}

    /* 
    ////////////////////////////////////// Section Preventiva
    */

    .preventiva {
        margin-top: -20vh;
        padding-top: 30%;
    }

    .carousel-inner { margin-top: 10%; }

    .carousel-content { width: 35rem; }


     /* 
    ////////////////////////////////////// Section Footer
    */

    .footer-heading {
        text-align: center;
    }

    .footer-box {
        text-align: center;
    }

    .footer-text {
        font-size: 1.2rem;
    }

    .social-icon {
        font-size: 3rem;
    }

    .copy {
        text-align: center;
        font-size: 1rem;
        padding: 0 2rem;
    }
}

/* 
.......................................... Small phones: from 0 to 320px */
@media only screen and (max-width:320px) {
    /* 
    ////////////////////////////////////// Header
    */
    .heading__primary-main {
        font-size: 2.7rem;
        letter-spacing: .2rem;
    }

    .heading-secondary { margin-bottom: 10%;}

    .paragraph-year {
        font-size: 1rem;
        letter-spacing: .1rem;
    }

    .header__text-box { margin-top: 30%;}

    .btn-diy:link,
    .btn-diy:visited {
        font-size: 1rem;
        font-weight: 400;
        width: 20rem;
    }

    .btn-system:link,
    .btn-system:visited { margin-right: 0rem; }
    
    .antecedente {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 1.3rem;
    }

    .heading-secondary-white,
    .heading-secondary {
        font-size: 3rem;
    }

    .system-box {
        max-width: 25rem;
    }
    
    .system-heading {
        font-size: 1.8rem;
    }

    .perfil-photo {
        width: 10rem;
        height: 10rem;
    }

    .sites-icon { font-size: 5rem;}

    .carousel-content { max-width: 25rem;}
}